[Desktop Entry]
Type=Application
Version=1.0
Name=SysMonQt
Comment=Monitor your CPU, RAM, and Disk usage
Exec=SystemMonitor
Icon=SMicon
Terminal=false
Categories=System;Monitor;Qt;
