name: C++ Qt6 CI

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*' # Trigger on version tags like v1.0.0

  pull_request:
    branches: [main, master]

jobs:
  build-ubuntu:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake build-essential \
          libgl1-mesa-dev libglu1-mesa-dev \
          qt6-base-dev qt6-base-dev-tools \
          qt6-tools-dev qt6-tools-dev-tools \
          libqt6widgets6 libqt6gui6 libqt6core6 libqt6test6

    - name: Build, Test and Pack 
      run: |
        mkdir build && cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        make -j$(nproc)
        export QT_QPA_PLATFORM=offscreen
        ctest --output-on-failure
        cpack -G DEB  # This generates the .deb file

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: system-monitor-${{ matrix.os || github.job }}
        path: |
          build/SystemMonitor
          build/*.so
          build/*.a
          build/*.deb
        if-no-files-found: error

  build-redhat:
    runs-on: ubuntu-latest
    container: rockylinux:9
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        dnf install -y epel-release 'dnf-command(config-manager)'
        dnf config-manager --set-enabled crb
        dnf install -y gcc-c++ cmake make \
          mesa-libGL-devel mesa-libGLU-devel \
          qt6-qtbase-devel qt6-qtbase-gui qt6-qtdeclarative-devel
    - name: Build, Test and Pack
      run: |
        dnf install -y rpm-build
        mkdir build && cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        make -j$(nproc)
        export QT_QPA_PLATFORM=offscreen
        ctest --output-on-failure
        cpack -G RPM  # This generates the .rpm file

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: system-monitor-${{ matrix.os || github.job }}
        path: |
          build/SystemMonitor
          build/*.so
          build/*.a
          build/*.rpm
        if-no-files-found: error

  publish-release:
    name: Create GitHub Release
    needs: [build-ubuntu, build-redhat]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Download all packages
        uses: actions/download-artifact@v4
        with:
          path: release-assets
          merge-multiple: true

      - name: Verify Assets
        run: ls -R release-assets

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release-assets/*.deb
            release-assets/*.rpm
          generate_release_notes: true
          draft: false
          prerelease: false      
