name: C++ Qt6 CI

on:
  push:
    branches: [ main, master ]

jobs:
  build-ubuntu:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake build-essential \
          libgl1-mesa-dev libglu1-mesa-dev \
          qt6-base-dev qt6-base-dev-tools \
          qt6-tools-dev qt6-tools-dev-tools \
          libqt6widgets6 libqt6gui6 libqt6core6 libqt6test6

    - name: Build and Test
      run: |
        mkdir build && cd build
        cmake .. && make -j$(nproc)
        export QT_QPA_PLATFORM=offscreen
        ctest --output-on-failure

  build-redhat:
    runs-on: ubuntu-latest
    container: rockylinux:9
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        dnf install -y epel-release 'dnf-command(config-manager)'
        dnf config-manager --set-enabled crb
        dnf install -y gcc-c++ cmake make \
          mesa-libGL-devel mesa-libGLU-devel \
          qt6-qtbase-devel qt6-qtbase-gui qt6-qtdeclarative-devel
    - name: Build and Test
      run: |
        mkdir build && cd build
        cmake .. && make -j$(nproc)
        export QT_QPA_PLATFORM=offscreen
        ctest --output-on-failure
